{% extends "base.html" %}

{% block header %}
  <h2>Submit Your Weight</h2>
{% endblock header %}

{% block content %}
  <form action="{{ url_for('main.weight_form') }}" method="post">
    <label for="starting_point">Starting Point:</label>
    <input type="number" id="starting_point" name="starting_point"><br>

    {% for week in range(1, 11) %}
      <label for="week_{{ week }}">Week {{ week }}:</label>
      <input type="number" id="week_{{ week }}" name="week_{{ week }}"><br>
    {% endfor %}

    <input type="submit" value="Submit">
  </form>
{% endblock content %}